.item_container {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
}

.item_text {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
}

.item_emoji_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_hashtag {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}