body {
  align-items: flex-start;
}

/* Page container */
.editor-page {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  min-width: 500px;
}

/* Toolbar */
.toolbar {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 16px;
}

.toolbar button {
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
  font-size: 15px;
  color: #222;
  border-radius: 6px;
}

.toolbar button:hover {
  background: #f2f2f2;
}

/* Title input */
.editor-title {
  width: 100%;
  border: none;
  outline: none;
  font-size: 32px;
  font-weight: 600;
  margin: 16px 0 8px;
}

.editor-title::placeholder {
  color: #b5b5b5;
}

/* Editor wrapper */
.editor-inner {
  position: relative;
  /* margin-top: 8px; */
}

/* ContentEditable */
.editor-input {
  min-height: 200px;
  outline: none;
  font-size: 16px;
  line-height: 1.6;
}

/* Placeholder */
.editor-placeholder {
   position: absolute;
    top: 0;
    left: 0;

    padding: 0; /* match editor padding if you add any */
    color: #9ca3af;

    pointer-events: none;
    user-select: none;

    font-size: 16px;
    line-height: 1.6;
}

/* Headings */
.editor-input h1 {
  font-size: 28px;
  font-weight: 600;
}

.editor-input h2 {
  font-size: 24px;
  font-weight: 600;
}

.editor-input h3 {
  font-size: 20px;
  font-weight: 600;
}

/* Lists */
.editor-input ul,
.editor-input ol {
  padding-left: 24px;
}

.mention {
  color: #2563eb;
  background: #e0e7ff;
  padding: 2px 6px;
  border-radius: 6px;
}

.mention-menu {
  pointer-events: auto;
  touch-action: manipulation;
  position: absolute;
  z-index: 9999;
  background: white;
}

/* .mention-menu {
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.mention-item {
  padding: 6px 10px;
  cursor: pointer;
}

.mention-item:hover {
  background: #f3f4f6;
} */

.lexical-text-underline {
  text-decoration: underline;
}

.lexical-text-strikethrough {
  text-decoration: line-through;
}